//!MAIN
/* @use 'utilities/variables';
@use 'utilities/functions';
@use 'utilities/mixins';
@use 'utilities/helpers';

@use 'vendors/boostrap';

@use 'vendors-extensions/boostrap';

@use 'base/reset';
@use 'base/typography';
@use 'base/animations';
@use 'base/base';

@use 'components/buttons';
@use 'components/carousel';
@use 'components/cover';
@use 'components/dropdown';

@use 'pages/home';
@use 'pages/contact';

@use 'themes/theme';
@use 'themes/admin'; */

//!TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Send+Flowers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Send+Flowers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Send+Flowers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");



//!RESET

//!VARIABLES

/* $colores-index:(
    "title": white,
    "subtitle": white,
    "background-color:"violet,
    "background": rgb(126, 7, 126),
); */
.freedom__inicio {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 20vh;
}

.freedom__inicio h1,
.freedom__inicio h2 {
    font-size: 5em;
    color: white;
    font-family: 'Send Flowers', cursive;
}

.freedom__inicio p {
    font-size: 2em;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.empezemos {
    margin-top: 3rem;
}

.freedom__inicio a {
    background-color: violet;
    color: white;
    font-size: 1.5em;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.freedom__inicio a:hover {
    background-color: rgb(126, 7, 126);
    transition: all 0.2s ease-in;
}

.freedom .fondo__computadora,
.freedom .fondo__celular {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    object-fit: cover;
    z-index: 0;
}

.active {
    display: none;
}

.aviso__envios {
    background-color: #F0C1CA;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
    padding-top: 0.5rem;
}

.aviso__envios h1 {
    color: white;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

.aviso__envios img {
    width: 2rem;
}

.aviso__logo img {
    width: 8rem;
    display: block;
    margin: auto;
}

/* .menu {
    background-color: #333;
    padding: 10px;
} */

.menu__opciones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__enlaces {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu__enlaces li {
    margin-right: 20px;
    position: relative;
    /* Agregamos esta línea para establecer un contexto de posicionamiento */
}

.menu__enlaces a {
    text-decoration: none;
    color: #F941F9;
    font-size: 1.125rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.menu__enlaces a:hover {
    color: #524FFF;
    transition: 0.3s;
}

.menu__opciones i {
    margin: auto 0.3rem;
}

.menu .ct_item-active {
    color: #524FFF;
}

.menu__enlaces ul {
    display: none;
    position: absolute;
    top: 100%;
    /* Cambiamos 'auto' por '100%' para que la lista desplegable aparezca debajo del enlace padre */
    left: 0;
    background-color: #ffff;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    /* Añadimos esto para que la lista ocupe el ancho completo */
}

.menu__enlaces li:hover>ul {
    display: flex;
    flex-direction: column;
}

.menu__enlaces ul li {
    margin: 0;
    text-align: start;
}

.menu__enlaces ul a {
    color: #F941F9;
    padding: 10px 0;
    display: block;
    /* Añadimos esto para que cada enlace ocupe el ancho completo */
}

/* .menu__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
} */

/* .menu__btn span {
    background-color: #f3f3f3;
    display: block;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
}
 */
.br-1,
.br-2,
.br-3 {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 5px 0;
    transition: 0.4s;
}

.flayer img {
    width: auto;
    height: auto;
}

/* Filtro */
/* PRODUCTOS */
.productos {
    color: #524FFF;
    font-size: 2.25em;
    text-align: center;
    font-family: Poppins;
    font-weight: 700;
    margin: 4rem 0;
}

.productos__lista {
    width: 82%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.productos__lista .productos__item {
    width: 18%;
    margin-bottom: 1.5625rem;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.254);
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background: rgba(212, 212, 212, 0.67);
}

.productos__lista .productos__item img {
    width: 100%;
    height: 32vh;
}

//!Sin stock , revisar
/* .productos__item--stock img{
    opacity: 0.5;
}
.productos__item--stock h3{
    position:absolute;
} */

.productos__lista .productos__item h2 {
    color: #000;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0 1rem;
}

.productos__lista .productos__item p {
    color: #5E5656;
    font-family: Poppins;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productos__lista .productos__item .comprar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 1rem;
}

.productos__lista .productos__item .comprar p {
    color: #000;
    font-family: Poppins;
    font-size: 1.25em;
    margin-top: 1rem
}

.productos__lista .productos__item a {
    width: 50%;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    background: #524FFF;
    text-transform: uppercase;
    position: relative;
    transition: 0.3s ease all;
    z-index: 2;
}

.productos__lista .productos__item a:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #FF0072;
    z-index: -2;
}
.productos__lista .productos__item a:hover:before,
button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}
.productos__lista .productos__item a:active {
    transform: scale(0.9);
}

.icon .bi-whatsapp {
    position: fixed;
    width: 4.5rem;
    line-height: 4.5rem;
    bottom: 30px;
    right: 50px;
    background: #13B71A;
    color: #ffff;
    border-radius: 100%;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.3);
    z-index: 3;
    font-size: 3rem;
}

.icon .bi-whatsapp:hover {
    text-decoration: none;
    background: #ffff;
    color: #13B71A;
}

//CONTACTO 

.contacto {
    margin: 8rem auto;
    width: 100%;
    border-top: 2px solid #524FFF;
}

.contacto .info {
    display: flex;
    justify-content: space-between;
}

.contacto h1 {
    color: #524FFF;
    background: #ffff;
    font-size: 2.25em;
    text-align: center;
    font-family: Poppins;
    font-weight: 700;
    margin: auto;
    width: 13.125rem;
    position: relative;
    bottom: 20px;
}

.info__contacto h2 {
    color: #000;
    font-family: Open Sans;
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 1rem;
}

.info__contacto a p {
    color: #000;
    font-family: Open Sans;
    font-size: 0.9em;
    font-weight: 700;
}

.info__contacto a p i {
    color: #F0C1CA;
    font-size: 20px;
}

.info__contacto a p:hover,
.info__contacto a p i:hover {
    color: #524FFF;
}

.info__form {
    width: 42%;
}

.info__form label {
    color: #000;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 1.1em;
}

.info__form input {
    border: #524FFF 1px solid;
    outline: none;
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 0.5rem;
}

.info__form textarea {
    border: #524FFF 1px solid;
    outline: none;
    resize: none;
    width: 100%;
    height: 30vh;
    border-radius: 5px;
    padding: 0.5rem;
}

.info__form button {
    position: relative;
    background-color: #524FFF;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 5vh;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    margin-top: 2rem;
}

.info__form button::before {
    content: "";
    /* ??? */
    background-color: #F941F9;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}

.info__form button:hover::before {
    width: 100%;
}

footer {
    background: #F0C1CA;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.pie-pagina {
    display: flex;
}

.pie-pagina__pago .icons,
.icon__svg {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pie-pagina__pago h2 {
    font-size: 1.2em;
    color: #000;
    margin-bottom: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.pie-pagina__pago p {
    font-size: 1em;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

.pie-pagina__pago .bi-bank {
    font-size: 2rem;
}

.pie-pagina__pago .bi-coin {
    font-size: 2rem;
    color: #13B71A;
}

.icons .bi-geo-alt-fill {
    font-size: 2rem;
    color: red;
}

.pie-pagina__pago .fa-truck {
    font-size: 2rem;
    color: #524FFF;
}

.icon__svg img {
    width: 2rem;
}

/* 

.menu__btn {
    display: none;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.menu__btn span {
    background-color: #f3f3f3;
    display: block;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
} */

/* .menu__enlaces {
    display: flex;
    padding: 0;
} */


/* @media screen and (min-width:375px) and (max-width: 768px) {
    body {
        overflow: hidden;
    }

    .menu__btn {
        display: block;
        position: absolute;
        top: 60px;
        left: 25px;
        transition: 0.2s 0.1s;
    }
    .menu__btn span{
        background-color:  #524FFF;
    }

    .menu__enlaces {
        flex-direction: column;
        justify-content: center;
        height: 50vh;
        margin: 0;
        padding: 0;
        display: none;
        opacity: 0;
        transition: opacity 5s ease-out;
        width: 100%;

    }
    .menu__enlaces li {
        text-align: center;
        width: 100%;
    }
}

@keyframes muestraMenu {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menu__enlaces.activado {
    display: flex;
    animation: muestraMenu 350ms ease-in-out both;
}

.br-1.animado {
    transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado {
    opacity: 0;
}

.br-3.animado {
    transform: rotate(45deg) translate(-10px, -8px);
}

.menu__btn.girar:hover {
    transform: rotate(360deg);
}

 */



/* 
//*RESPONSIVE
@media screen and (min-width:375px) and  (max-width: 768px){
    .active{
        display: block;
    }
} */
/* @media screen and (max-width: 600px) {
    .menu__btn {
        display: block;
    }

    .menu__enlaces {
        flex-direction: column;
        position: relative;
        width: 100%;
    }
    .menu__opciones i {
        margin: 0;
    }
    .menu__enlaces.show {
        display: flex;
    }

    .menu__enlaces li {
        text-align: center;
        margin: 0;
        padding: 10px 0;
        position: static; // Cambiamos a 'static' para que no afecte la posición absoluta en móviles 
    }

    .menu__enlaces ul {
        position: static;
        display: none;
        width: 100%;
    }
    .menu .menu__enlaces--active {
        color: #524FFF;
    }
    .menu__enlaces li:hover > ul {
        display: block;
        position: static; //Añadimos esto para que la lista desplegable no se superponga en móviles 
    }

    .menu__enlaces ul li {
        text-align: center;
    }

    .menu__btn.open .br-1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu__btn.open .br-2 {
        opacity: 0;
    }

    .menu__btn.open .br-3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
} */